/*// BASE STYLES //*/
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }
  .grass, .sky, .road{
    position: relative;
  }
  .sky{
    height: 40%;
    background-color: skyblue;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.33))
  }
  .grass{
    height: 30%;
    background-color: seagreen;
    background-image: linear-gradient(to top, rgba(255,255,255,0) 75%, rgba(255,255,255,.25))
  }
  .road{
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
  }
  /*// ELEMENTS TO ANIMATE //*/
  .mario{
    position: absolute;
    top: -50px;
    left: 0;
    animation-name:mario-jump,drive ;
    animation-duration:1s,5s ;
    animation-direction: width ;
    animation-fill-mode:backwards ;
    animation-delay: ;
    animation-timing-function:ease;
    animation-iteration-count: infinite;;
    z-index: 5;
  }
  .luigi{
    position: absolute;
    top: -20px;
    left: -50px;
    z-index: 55;
    animation-name:drive;
    animation-duration: 5s;
    animation-direction:width  ;
    animation-fill-mode:backwards ;
    animation-delay: ;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    
  }
  .cloud{
    position: absolute;
    top: 120px;
    left: 0;
  }
  .cloud2{
    position: absolute;
    top: 20px;
    right: 0;
    max-width: 200px;
    visibility: hidden;
  }
  .cloud,
  .cloud2{
    animation-name:cloud-move ;
    animation-duration:5s;
    animation-direction:width ;
    animation-fill-mode: ;
    animation-delay: ;
    animation-timing-function: ;
    animation-iteration-count:infinite; ;
  }
  .lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 6000px;
    position: absolute;
    top: 45%;
    left: 0;
    animation-name:lines-move ;
    animation-duration:5s ;
    animation-direction:width ;
    animation-fill-mode: ;
    animation-delay: ;
    animation-timing-function: ;
    animation-iteration-count: infinite;;
  }
  /*// KEYFRAMES //*/
  @keyframes drive {
    0%{left: 0px;
      
    }
    100%{ left:100%;
    }
  }
  @keyframes mario-jump {
    0%{ top:-50px;
    }
    48% {top: -100px;
    }
    50% {top: -150px;
    }
    52% {top:-100px;
    }
    100%{top:-50px;
    }
  }
  @keyframes cloud-move {
    0%{ left:70%;
      
    }
    
    100%{left:10%;
    }
  }
  @keyframes lines-move {
    /* 0%{ left:0;
      
    } */
    
    100%{left:-100px;
    }
  }